@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(230, 221, 221);
}
h1,h2,h3,h4,h5{
    color: #333;
}
p, label{
    color: #444;
}
input{
    border: none;
    border-bottom: 1px solid #ccc; 
    padding: 10px 0px;
}
input[type=text],input[type=number],input[type=date],input[type=file],textarea{
    width: 400px;
}
textarea{
    padding-bottom: 20PX;
    border: none;
    border-bottom: 1px solid #ccc;
}
/* parte do cabeçalho */
.header{
    background-color: rgb(126, 8, 236);
    height: 160px;
}
.header h3{
    color: white;
    margin-top: 0;
    ;
}
/* form conatiner */
.form-container{
    background-color: white;
    width: 60%;
    margin: 0 auto; /*centraliza o container */
    position: relative;
    top: -62px; /*container fica sobre o header*/
}