@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(230, 221, 221);
}
h1,h2,h3,h4,h5{
    color: #333;
}
p, label{
    color: #444;
}
input{
    border: none;
    border-bottom: 1px solid #ccc; 
    padding: 10px 0px;
    
}
input[type=text],input[type=number],input[type=date],input[type=file],textarea{
    width: 97%;
}
textarea{
    padding-bottom: 20PX;
    border: none;
    border-bottom: 1px solid #ccc;
}
/* parte do cabeçalho */
.header{
    background-color: rgb(126, 8, 236);
    height: 160px;
}
.header h3{
    color: white;
    padding: 10px;
}

/* form conatiner */
.form-container{
    background-color: white;
    width: 60%;
    margin: 0 auto; /*centraliza o container */
    position: relative;
    top: -62px; /*container fica sobre o header*/
}
.form-header{
    border-bottom: 1px solid #b4b1b1;
    height: 45px;
}
.form-header p {
    color: rgb(126, 8, 236);
    border-bottom: 2px solid rgb(126, 8, 236);
    width: 100px;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}

/* fomr body */
.form-body{
    padding: 20px ;
}
.form-title{
    margin-bottom: 5px;
}
.form-body p {
    margin-bottom: 20px;
}
.required-field{
    color: red;
}
.box-imput{
    margin-bottom: 10px;
}
.block{
    display: block;
}
.btn-submit{
    background-color: white;
    color: rgb(126, 8, 236) ;
    width: 80px;
    border: 2px solid rgb(126, 8, 236);
    cursor: pointer;
    
    transition: 0.5s;
}
.btn-submit:hover{
    background-color: rgb(91, 5, 252);
    color: white;
    
    
}